.react-calendar-dark {
    width: 400px;
    max-width: 100%;
    background: #216E6B;
    border: 2px solid #ffffff;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.125em;
    color: white;
  }

  .react-calendar-dark--doubleView {
    width: 700px;
  }
  
  .react-calendar-dark--doubleView .react-calendar-dark__viewContainer {
    display: flex;
    margin: -0.5em;
  }
  
  .react-calendar-dark--doubleView .react-calendar-dark__viewContainer > * {
    width: 50%;
    margin: 0.5em;
  }
  
  .react-calendar-dark,
  .react-calendar-dark *,
  .react-calendar-dark *:before,
  .react-calendar-dark *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  /* NOTE: setting a color for buttons overrides any other colors set for the buttons */
  .react-calendar-dark button:enabled {
    margin: 0;
    border: 0;
    outline: #E0F2F1;
    outline-style: solid;
    color: white;
  }
  
  /* when cursor hovering over a button make text = color and cell color = background-color */
  .react-calendar-dark button:enabled:hover {
    cursor: pointer;
    color: black;
    background-color: #e0f2f1;
  }
  
  .react-calendar-dark__navigation {
    display: flex;
    height: 44px;
    margin-bottom: 1em;
  }

  .react-calendar-dark__navigation__arrow {
    font-weight: bold;
    flex-grow: 25;
  }
  
  .react-calendar-dark__navigation button {
    min-width: 44px;
    background: none;
  }
  
  .react-calendar-dark__navigation button:disabled {
    background-color: #f0f0f0;
  }
  
  .react-calendar-dark__navigation button:enabled:hover,
  .react-calendar-dark__navigation button:enabled:focus {
    background-color: #ed1000;
  }
  

  .react-calendar-dark__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font: inherit;
    font-size: 0.75em;
    font-weight: bold;
    color: white;
  }
  
  .react-calendar-dark__month-view__weekdays__weekday {
    padding: 0.5em;
  }
  
  .react-calendar-dark__month-view__weekNumbers .react-calendar-dark__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font: inherit;
    font-size: 0.75em;
    font-weight: bold;
  }
  
  .react-calendar-dark__month-view__days__day--weekend {
    color: #d10000;
  }
  
  /* can ignore this since decade and higher view is disabled */
  .react-calendar-dark__month-view__days__day--neighboringMonth,
  .react-calendar-dark__decade-view__years__year--neighboringDecade,
  .react-calendar-dark__century-view__decades__decade--neighboringCentury {
    color: #757575;
  }
  
  .react-calendar-dark__year-view .react-calendar-dark__tile,
  .react-calendar-dark__decade-view .react-calendar-dark__tile,
  .react-calendar-dark__century-view .react-calendar-dark__tile {
    padding: 2em 0.5em;
  }
  
  .react-calendar-dark__tile {
    max-width: 100%;
    padding: 10px 6.6667px;
    background: none;
    text-align: center;
    line-height: 16px;
    font: inherit;
    font-size: 0.833em;
    color: white;
  }
  
  .react-calendar-dark__tile:disabled {
    background-color: #ffffff;
    color: #ababab;
  }
  
  .react-calendar-dark__month-view__days__day--neighboringMonth:disabled,
  .react-calendar-dark__decade-view__years__year--neighboringDecade:disabled,
  .react-calendar-dark__century-view__decades__decade--neighboringCentury:disabled {
    color: #cdcdcd;
  }
  
  .react-calendar-dark__tile:enabled:hover,
  .react-calendar-dark__tile:enabled:focus {
    background-color: orange;
    background: orange;
  }
  
  .react-calendar-dark__tile--now {
    background-color: orange;
    background: orange;
  }
  
  .react-calendar-dark__tile--now:enabled:hover,
  .react-calendar-dark__tile--now:enabled:focus {
    background: orange;
    background-color: orange;
  }
  
  .react-calendar-dark__tile--hasActive {
    background: #76baff;
  }
  
  .react-calendar-dark__tile--hasActive:enabled:hover,
  .react-calendar-dark__tile--hasActive:enabled:focus {
    background: #a9d4ff;
  }
  
  .react-calendar-dark__tile--active {
    background: #006edc;
    color: white;
  }
  
  .react-calendar-dark__tile--active:enabled:hover,
  .react-calendar-dark__tile--active:enabled:focus {
    background: #1087ff;
  }
  
  .react-calendar-dark--selectRange .react-calendar-dark__tile--hover {
    background-color: #ffffff;
  }
  