@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

/* This is the bar with the burger menu */
.navbar {
  background-color: #009688;
  height: 13vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
}

/*burger menu and x*/
.menu-bars {
  margin-top: 0.5%;
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  color: #fff;
  
}


/* this controls the part where the text is located */
.nav-menu {
  background-color: #009688;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0%;
  left: -100%;
  transition: 850ms;
  margin-left: -6vh;
  z-index: 2;
}

.nav-menu.active {
  left: 0;
  transition: 450ms;
}

/*placement of the text*/
.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

/* controls text in the side */
.nav-text a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

/*text bg color*/
.nav-text a:hover {
  background-color: #285D5E;
  color: #ffffff;
}

.nav-menu-items {
  width: 100%;
}

/* this is the top bar with the X */
.navbar-toggle {
  
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/*spaces out the icons from the text*/
span {
  margin-left: 15px;
}